In [2]:
import matplotlib.pyplot as plt
import numpy
import pandas as pd
import csv

In [3]:
data=pd.read_csv('comined_100 data.csv',index_col=False)
E=59*10**9

In [4]:
data.head(3)

     T       B         M    lambda
0  0.0    0.00  366000.0  0.000000
1  0.0  319.08  675000.0  0.000053
2  0.0  638.16  999000.0  0.000110

In [5]:
data['s'] =data['lambda']+data['T']/E

In [6]:
data.head(3)

     T       B         M    lambda         s
0  0.0    0.00  366000.0  0.000000  0.000000
1  0.0  319.08  675000.0  0.000053  0.000053
2  0.0  638.16  999000.0  0.000110  0.000110

In [7]:
data.to_csv('Samples_generated_Uniform_100_5000.csv')

In [26]:
data_100=pd.read_csv('Samples_generated_100.csv')

In [27]:
data_100.columns

Index(['Unnamed: 0', 'T', 'B', 'M', 'lambda', 's'], dtype='object')

In [33]:
Data=data_100.drop(['Unnamed: 0'],axis=1)

In [35]:
Data.columns

Index(['T', 'B', 'M', 'lambda', 's'], dtype='object')